body{
    
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    margin: auto;
    width: 90%; 
}

#index_title{
    color: #0C1500;
    position: absolute;
    bottom: 100px;
    margin-left: 15px;
    margin-bottom: 30px;

}
#index_title h1{
    display: inline;
    text-shadow: black 2px 0.02px;
}

#footer{
    
    border-top: 1px solid black;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: auto;
}